<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-post" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      {% if post.preview_image %}<img src="{{ site.github.url }}/assets/img/{{ post.preview_image }}" alt="{{ post.title }} Preview Image">{% endif %}
      <h2><span style="position: relative; left: 460px; top: -170px; color: #fc8328; background-color: #fcecd3;">{{ post.title }}</span></h2>
    </div>
  </a>
</article>
