<div class="painting-gallery">
  <div class="painting-item">
    <a href="/painting/painting-1">
      <img src="/assets/img/strawberry.jpg" alt="strawberry">
    </a>
    <button class="like-button" onclick="like('painting-1')">like</button>
  </div>
  
  <div class="painting-item">
    <a href="/painting/painting-2">
      <img src="/assets/img/pinksky.jpg" alt="pink_sky">
    </a>
    <button class="like-button" onclick="like('painting-2')">like</button>
  </div>


  （还不太会弄）
  
  <!-- Add more painting items as needed -->
</div>
